<aside class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7730278451516700"
     crossorigin="anonymous"></script>
<!-- 侧部广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7730278451516700"
     data-ad-slot="1833144581"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <div class="slimContent">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </div>
</aside>
